.category-container {
  background-color: #fff;
  border-bottom: solid 1px var(--color-tag);
}

.category-container .item {
  border: 1px solid #fff;
  background-color: #fff;
}

.category-container .item a {
  color: #666;
}

.category-container .item[aria-selected='true'] {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}

.category-container .item[aria-selected='true'] div {
  color: #fff;
}

/* dark start */
body.dark .category-container {
  background-color: #1c1c1c;
}

body.dark .category-container .item {
  border: 1px solid #1c1c1c;
  background-color: #1c1c1c;
}

body.dark .category-container .item a {
  color: #d8d7d7;
}

body.dark .category-container .item[aria-selected='true'] {
  border: 1px solid #757575;
  background-color: #757575;
}

body.dark .category-container .item[aria-selected='true'] a {
  color: #fff;
}
/* dark end */

.category-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  line-height: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  z-index: 1;
}

.category-container .item {
  display: inline-block;
  margin: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-0);
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
}

.category-container .item div {
  display: block;
  padding: var(--spacing-0) var(--spacing-3) var(--spacing-0) var(--spacing-3);
  font-size: var(--fontSize-1);
  line-height: var(--lineHeight-normal);
  box-sizing: border-box;
}

.category-container .item:last-child {
  margin-right: var(--spacing-0);
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-container {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  .my-smooth-container {
    scroll-behavior: auto;
  }
}
