/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: 'none';
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: '100%';
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: '1px';
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-body: var(--font-family-sans-serif);
  --font-heading: var(--font-family-monospace);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #292929;
  --color-text: #292929;
  --color-text-hover: #000000;
  --color-text-light: #757575;
  --color-heading: #292929;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-tag: rgba(117, 117, 117, 1);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

footer a {
  text-decoration: none;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

a:hover,
a:focus {
  color: var(--color-text-hover);
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path='true'] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-6);
  margin: 0;
}

.tags-heading {
  font-size: var(--fontSize-6);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
  color: var(--color-text-light);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item header small {
  color: var(--color-text-light);
}

.tag-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.tag-list-item p {
  margin-bottom: var(--spacing-0);
  color: var(--color-text-light);
}

.tag-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.tag-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio p.bio-introduction {
  color: var(--color-text-light);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.bio-avatar-name {
  border-radius: 8px;
  transform-origin: center;
  animation: flutter 2s linear infinite;
  padding: 2px 6px;
  background-color: #ecf0f2;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.bio .bio-social {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);
  display: block;
  list-style: none;
}

.bio .bio-social li {
}

.bio .bio-social li a {
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-bold);
  text-decoration: none;
  color: inherit;
}

.blog-sponsor {
  margin-bottom: 15px;
}

.blog-sponsor a {
  display: inline-block;
  padding: 0 7px;
  width: 133px;
  height: 33px;
  text-decoration: none;
  background-color: #bb5794;
  border: 1px solid transparent;
  border-radius: 6px;
  letter-spacing: -0.08px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
  text-align: left;
}

.blog-sponsor a img {
  width: 20px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.blog-sponsor a span {
  margin-left: 6px;
  color: #fff;
}

.share {
  margin-bottom: 10px;
}

.share button {
  margin-right: 10px;
}

.share button:hover:not(:active) {
  opacity: 0.75;
}

.theme {
  text-align: right;
}

.theme svg {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
  color: var(--color-text-light);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-post-nav ul li a {
  text-decoration: none;
  cursor: pointer;
  background: rgb(248, 249, 250);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.blog-post-nav ul li.next a .text {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  line-height: 1;
  min-width: 0px;
}

.blog-post-nav ul li.next a .text {
  align-items: flex-end;
}

.blog-post-nav ul li.prev a .text {
  align-items: flex-start;
}

.blog-post-nav ul li.prev a .icon,
.blog-post-nav ul li.next a .icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-text-light);
}

.blog-post-nav ul li.prev a .icon {
  margin-right: 1rem;
}

.blog-post-nav ul li.next a .icon {
  margin-left: 1rem;
}

.blog-post-nav ul li.next a:hover .icon,
.blog-post-nav ul li.prev a:hover .icon {
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.blog-post-nav ul li.next a:hover .icon {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
}

.blog-post-nav ul li.prev a:hover .icon {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.blog-post section img {
  max-width: 100%;
}

.blog-post-tag {
  list-style: none;
  margin: 0;
}

.blog-post-tag li {
  display: inline-block;
  margin: 0 var(--spacing-2) var(--spacing-2) 0;
  font-size: var(--fontSize-0);
  color: var(--color-text-light);
}

.blog-post-tag li a {
  background: rgb(242, 242, 242);
  padding: 5px 10px;
  line-height: 22px;
  color: var(--color-tag);
  text-decoration: initial;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media (max-width: 768px) {
  .blog-post-nav ul li {
    flex: initial;
    width: 100%;
  }
}
