body.dark {
  background-color: var(--dark--color-bg);
  color: var(--dark--color-text);
}

body.dark hr {
  background: var(--dark--color-accent);
}

body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: var(--dark--color-heading);
}

body.dark h1 {
  color: var(--dark--color-heading-black);
}

body.dark blockquote {
  color: var(--dark--color-text-light);
  border-left-color: var(--dark--color-primary);
}

body.dark table thead tr th {
  border-bottom-color: var(--dark--color-accent);
}

/* Link */

body.dark a {
  color: var(--dark--color-primary);
}

body.dark a:hover,
body.dark a:focus {
  color: var(--dark--color-text-hover);
}

/* bio */

body.dark .bio .bio-social li a {
  color: inherit;
}

/* Custom classes */

body.dark .post-list-item h2 {
  color: var(--dark--color-primary);
}

body.dark .blog-post-tag li a {
  background: var(--dark--color-tag-bg);
  color: var(--dark--color-tag);
}

body.dark .post-list-item section .post-list-content ul li {
  color: var(--dark--color-text-light);
}

body.dark .post-list-item section .post-list-content ul li a {
  background: var(--dark--color-tag-bg);
  color: var(--dark--color-tag);
}

body.dark .theme label svg {
  font-size: 15px;
  line-height: var(--lineHeight-tight);
  color: var(--dark--color-dark-mode);
}
